body {
    padding: 8%;
    min-height: 100vh;
    max-height: 100vh;
    background-image: url('/images/darkmountain.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}